@import 'variables';



body {
    overflow-x: hidden;

    #hero {
        min-height: 15*$leading;
    }

    nav {
        margin: 2*$leading 0;

        #contactGroup {
            position: absolute;
            right: $leading;
            top: $pageStart;
            z-index: 1;
            display: inline;

            * {
                display: inline-block;
                vertical-align: middle;
            }

            #navLink,
            #icons {
                transition: 0.6s;
                transition-delay: 0.1s;
            }

            #icons {
                display: inline-block !important;

                a {
                    transform: skewX(0);
                    background: none;
                    min-width: 0;

                    svg {

                        fill: $orange;
                        width: $iconSize;
                        height: $iconSize;
                    }
                }
            }



            li {
                font-weight: bold;
            }
        }
    }


    main {
        padding: 0;

        .leftAll {
            text-align: center;
            position: relative;
            display: inline-block;
            width: 100%;

            img {
                width: 66%;
                margin: 0 auto;


            }

            .text {
                text-align: left;
                width: 90%;
                padding: 0 5%;
            }
        }

        .page {
            padding-left: $twoSpace;
            padding-right: $twoSpace;
        }

        ul.items {
            li {
                width: $twoWidth !important;
                margin: 0 $twoSpace !important;

            }

            img.illustration {
                width: 90%;
            }
        }


    }
}

body.condense {
    nav:not(#hero) {
        margin-top: -$pageStart - (5*$leading);
    }
}